@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


a {
  background: #111;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;

  text-decoration: none;

  transition: all 0.5s ease;
}

/* holographic sweep */
a::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgb(54, 90, 153)
  );
  transform: rotate(-45deg);
  opacity: 0;
  transition: all 0.5s ease;
}

a:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgb(54, 90, 153)

}

a:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
